rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  function signedIn() {
      return request.auth.uid != null;
      }
  function admin() {
      return request.auth.uid == 'Au3qge9mfMfePl9If8bNZMTRYCP2' || request.auth.uid == 'dcsqRZRHZLQrzFh1dg43C7yJpFi2';
      }
    match /users/{document=**} {
      allow read, write: if signedIn();
    }
    match /games/{document=**} {
      allow read: if signedIn();
      allow write: if admin();
    }
  }
}