@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-bg {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: clip;
  img {
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: blur(4px) brightness(50%);
  }
  .outgoing {
    z-index: -2;
  }
  .active {
    z-index: -1;
    animation: fadeIn 1s linear;
  }
}
