@import '/src/styles/breakpoints';
@import '../../styles/variables.scss';

.button {
  font-size: 0.8rem;
  font-weight: 700;
  min-width: 100px;
  text-decoration: none;
  color: $color-font-primary;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 6px;
  @include bp(mobL) {
    font-size: 1rem;
  }
  @include bp(laptop) {
    font-size: 1.1rem;
  }
  @include bp(laptopL) {
    font-size: 1.3rem;
  }
  @include bp(4k) {
    font-size: 2.4rem;
  }
  &:hover {
    cursor: pointer;
    color: $color-marker;
  }
  &-google {
    color: #fff;
    background-color: #4285f4;
    border-radius: 6px;
  }
  &-apply {
    color: $color-bg-light;
    background-color: $color-marker;
    &:hover {
      background-color: $color-bg-light;
    }
  }
}
