@import '../../styles/variables.scss';

.button {
  font-size: 1rem;
  font-weight: 700;
  min-width: 100px;
  text-decoration: none;
  color: $font-main;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 6px;
  &:hover {
    cursor: pointer;
    color: $marker;
  }
  &-google {
    color: #fff;
    background-color: #4285f4;
    border-radius: 6px;
  }
  &-apply {
    color: $bg-light;
    background-color: $marker;
    &:hover {
      background-color: $bg-light;
    }
  }
}
