@import '/src/styles/breakpoints';
@import '../../styles/variables.scss';

.button {
  font-weight: 700;
  max-height: 100%;
  text-decoration: none;
  color: $color-font-primary;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  @include bp(laptop) {
    font-size: 1.1rem;
  }
  @include bp(laptopL) {
    font-size: 1.3rem;
  }
  @include bp(4k) {
    font-size: 2.4rem;
  }
  &:hover {
    cursor: pointer;
    color: $color-marker;
  }
  &-google {
    color: #fff;
    background-color: #4285f4;
    border-radius: 6px;
  }
  &-apply {
    color: $color-font-primary;
    background-color: $color-marker;
    filter: brightness(85%);
    &:hover {
      background-color: $color-bg-light;
    }
  }
  &-auth {
    border: 1px solid $color-bg-light;
  }
  &-watch {
    border: 1px solid;
    margin: 0.5em auto !important;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
