@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 18px;
  justify-items: center;
  align-items: center;
  @include bp(tab) {
    grid-template-columns: 1fr 1fr;
    .gallery__space {
      grid-column: 1 / 3;
    }
    .gallery__notification {
      grid-column: 1 / 3;
    }
  }
  @include bp(laptopL) {
    grid-template-columns: repeat(3, 1fr);
    .gallery__space {
      grid-column: 1 / 4;
    }
    .gallery__notification {
      grid-column: 2 / 3;
    }
  }
}
.gallery__notification {
  text-align: center;
}
