.game-header {
  display: grid;
  grid-template-columns: 3fr 2fr repeat(8, 1fr);
  align-items: center;
  span {
    text-align: center;
    &:first-of-type {
      text-align: right;
    }
    &:nth-of-type(2) {
      text-align: left;
    }
  }
}
