@import '/src/styles/variables.scss';
.game-header {
  display: flex;
  flex-direction: column;
  &__date {
    display: flex;
    justify-content: center;
    span,
    b {
      text-align: center;
      color: $color-font-secondary;
      font-weight: 700;
      font-size: 1rem;
    }
    span {
      text-align: right;
    }
    b {
      display: block;
      text-align: left;
    }
  }
  &__rounds {
    display: flex;
    justify-content: space-around;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &:last-child {
        width: 50%;
      }
    }
  }
}
