@import '/src/styles/breakpoints';

.navigation {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 45px;
  background-color: #222;
  @include bp(laptop) {
    grid-auto-rows: 60px;
  }
  @include bp(4k) {
    grid-auto-rows: 100px;
  }
  &__home {
    justify-self: start;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    overflow: clip;
    & > svg {
      height: 20px;
      cursor: pointer;
      transform: translate(0, 20%);
      @include bp(laptop) {
        height: 30px;
      }
      @include bp(4k) {
        height: 70px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    @include bp(tab) {
      gap: 20px;
    }
    & svg {
      height: 28px;
    }
  }
  & button {
    font-size: 0.8rem;
    @include bp(laptop) {
      font-size: 1rem;
    }
    @include bp(4k) {
      font-size: 2rem;
    }
  }
}
