@import '../../styles/variables';

.add-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__rounds {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__sum {
    font-weight: 800;
    font-size: 1.2rem;
    color: #111;
    width: 100%;
  }
  &__position {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 50%;
    line-height: 1.5rem;
    color: #fff;
    &-top3 {
      background-color: $color-marker;
    }
  }
}
