@import '/src/styles/breakpoints';
@import '/src/styles/variables';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.home-hero {
  position: relative;
  text-align: center;
  height: calc(100vh - 45px);
  @include bp(laptop) {
    height: calc(100vh - 60px);
  }
  @include bp(4k) {
    height: calc(100vh - 100px);
  }
  & > svg {
    display: block;
    margin: 0 auto;
    justify-self: center;
    width: 200px;
    padding-top: 30vh;
    @include bp(mobL) {
      width: 300px;
    }
    @include bp(tab) {
      width: 400px;
    }
    @include bp(laptop) {
      width: 550px;
    }
    @include bp(laptopL) {
      width: 800px;
    }
    @include bp(4k) {
      width: 1600px;
    }
  }
  & > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 2rem;
    width: calc(100% - 4rem);
    animation-name: fadeOutUp;
    animation-duration: 1s;
    opacity: 0;
    display: none;
    position: absolute;
    &.outgoing {
      display: block;
    }
    &.active {
      opacity: 1;
      animation-name: fadeInUp;
      display: block;
    }
    @include bp(tab) {
      font-size: 1.3rem;
    }
    @include bp(laptop) {
      font-size: 1.5rem;
    }
    @include bp(4k) {
      font-size: 3rem;
    }
  }
  & > a.home-hero__tg {
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-font-primary;
    span {
      padding-left: 9px;
      font-size: 0.8em;
    }
    svg {
      height: 1.5em;
    }
  }
  #lang {
    position: absolute;
    right: 30px;
    top: 10px;
    transform: translate(50%);
    background: url('/lang.svg') center center/contain no-repeat;
    & > span {
      z-index: 2;
      position: relative;
    }
  }
  #arrow {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    width: 1.2em;
  }
}
