@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.home-hero {
  position: relative;
  text-align: center;
  height: calc(100vh - var(--navbar-height));
  background: url('/assets/hero1.webp') center center/cover no-repeat;
  &-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    background-color: #000;
    opacity: 0.6;
  }
  & > svg {
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    justify-self: center;
    width: 200px;
    padding-top: 30vh;
    @include bp(mobL) {
      width: 300px;
    }
    @include bp(tab) {
      width: 400px;
    }
    @include bp(laptop) {
      width: 550px;
    }
    @include bp(laptopL) {
      width: 800px;
    }
    @include bp(4k) {
      width: 1600px;
    }
  }
  &-text {
    position: relative;
    z-index: 2;
    background-color: rgba($color-bg-main, 0.3);
    border-radius: 1em;
    box-shadow: 0 0 1em rgba($color-bg-main, 0.5);
    @include bp(tab) {
      margin: 0 3em;
    }
    & > p {
      font-size: 1rem;
      font-weight: 400;
      margin: 1rem 2rem;
      width: calc(100% - 4rem);
      @include bp(tab) {
        font-size: 1.3rem;
      }
      @include bp(laptop) {
        font-size: 1.5rem;
      }
      @include bp(4k) {
        font-size: 3rem;
      }
    }
  }
  & > a.home-hero__tg {
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-font-primary;
    span {
      padding-left: 9px;
      font-size: 0.8em;
    }
    svg {
      height: 1.5em;
    }
  }
  #lang {
    position: absolute;
    right: 30px;
    top: 10px;
    transform: translate(50%);
    background: url('/lang.svg') center center/contain no-repeat;
    & > span {
      z-index: 2;
      position: relative;
    }
  }
  #arrow {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    width: 1.2em;
  }
}
