.statistics {
  padding: 1em;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      display: block;
      width: 1.5em;
      height: 1.5em;
    }
  }
  &__name {
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
  }
}
