@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.games {
  padding: 0 7%;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    @include bp(mobL) {
      justify-content: space-around;
    }
  }
  button {
    margin: 0;
  }
}
