@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.games {
  padding: 0 7%;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  button {
    @include bp(mobL) {
      margin: 0 2rem;
    }
    @include bp(laptop) {
      margin: 0 4rem;
    }
  }
}
