@import '../../styles/variables';

.table {
  display: flex;
  flex-direction: column;
  &__name {
    padding-right: 1rem;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 1.5rem;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
      height: 2rem;
      height: 100%;
      width: 100%;
      &.table__sum {
        color: #111;
        font-weight: 800;
      }
      &.table__position {
        font-size: 1rem;
        width: 50%;
        &-top3 {
          background-color: $color-marker;
        }
      }
    }
  }
}
