@import '/src/styles/variables.scss';

.form-input {
  position: relative;
  margin: 16px auto;
  width: 200px;
  & > label {
    font-size: 1rem;
    pointer-events: none;
    position: absolute;
    left: 7px;
    color: $color-font-primary;
  }
  & > input {
    font-size: 1rem;
    background-color: $color-bg-light;
    border: none;
    border-bottom: 1px solid $color-font-secondary;
    border-radius: 6px;
  }
}

.shrink-input-label {
  top: -14px;
  font-size: 0.7rem !important;
}
