@import './styles/variables';
@import './styles/breakpoints';
@import './styles/typografy';

body,
button {
  margin: 0;
  background-color: $color-bg-main;
  color: $color-font-primary;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  h5 {
    text-align: center;
  }
  .error {
    color: red;
    font-size: 0.7em;
    padding-left: 5px;
  }
  @include bp(mobL) {
    font-size: 1.2rem;
  }
  @include bp(tab) {
    font-size: 1.3rem;
  }
  @include bp(laptop) {
    font-size: 1.5rem;
  }
  @include bp(laptopL) {
    font-size: 2rem;
  }
  @include bp(4k) {
    font-size: 4rem;
  }
}
