@import './styles/variables';
@import './styles/breakpoints';
@import './styles/typografy';

body {
  margin: 0;
  background-color: $color-bg-main;
  color: $color-font-primary;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
