@import '/src/styles/breakpoints';
@import '/src/styles/variables.scss';

.table-input {
  width: 99%;
  height: 100%;
  border: none;
  background-color: $color-bg-main;
  color: $color-marker;
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 700;
  @include bp(mobL) {
    font-size: 1.2rem;
  }
  @include bp(tab) {
    font-size: 1.1rem;
  }
  @include bp(laptop) {
    font-size: 1.5rem;
  }
  @include bp(laptopL) {
    font-size: 2rem;
  }
  @include bp(4k) {
    font-size: 4rem;
  }
  &::placeholder {
    font-weight: 300;
  }
  &[type='date'] {
    text-align: left;
    width: 5.6rem;
    font-size: 0.7rem;
    @include bp(mobL) {
      width: 6rem;
      font-size: 0.8rem;
    }
    @include bp(laptop) {
      width: 7.5rem;
      font-size: 1rem;
    }
    @include bp(laptopL) {
      width: 8.8rem;
      font-size: 1.2rem;
    }
    @include bp(4k) {
      width: 17rem;
      font-size: 2.3rem;
    }
    &::-webkit-calendar-picker-indicator {
      color: $color-marker;
    }
  }
  &[type='number'] {
    text-align: center;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  &[type='text'] {
    text-align: center;
    @include bp(tab) {
      text-align: end;
    }
  }
  &:hover {
    background-color: $color-bg-light-blue;
  }
}
