.table-input {
  position: relative;
  margin: 5px;
  & > input {
    width: 100%;
    border: none;
  }
  & > input[type='date'] {
    text-align: left;
  }
  & > input[type='number'] {
    text-align: center;
  }
  & > input[type='text'] {
    text-align: right;
  }
  & > label {
    position: absolute;
    left: 5px;
    top: 0;
    color: #999;
  }
}
