.add-game {
  margin: 0 7%;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    .add-game__controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      input {
        height: auto;
      }
    }
    .add-game__teams {
      margin-top: 0.5rem;
      min-height: 12rem;
    }
  }
}
