@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.announcement {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/announcement/waves.png');
  background-size: contain;
  animation: 50s floatLeft infinite linear;
  overflow: hidden;
  &__continetns {
    img {
      position: absolute;
      width: fit-content;
      height: 80%;
      z-index: 2;
      &:nth-of-type(1) {
        left: 0;
        top: 0;
        transform: translate(-17%, -37%) rotate(37deg);
      }
      &:nth-of-type(2) {
        left: 0;
        bottom: 0;
        height: 60%;
        transform: translate(-20%, 14%);
      }
      &:nth-of-type(3) {
        right: 0;
        top: 0;
        transform: translate(30%, -50%) rotate(-10deg);
      }
      &:nth-of-type(4) {
        right: 0;
        bottom: 0;
        transform: translate(40%, 40%);
      }
    }
  }
  &__clouds {
    div {
      position: absolute;
      background: url('/assets/announcement/cloud.webp') center center/contain no-repeat;
      height: 70%;
      aspect-ratio: 8/5;
      z-index: 3;
      &:nth-of-type(1) {
        left: 4%;
        top: -25%;
      }
      &:nth-of-type(2) {
        left: -4%;
        bottom: -12%;
      }
      &:nth-of-type(3) {
        right: -14%;
        top: -15%;
      }
      &:nth-of-type(4) {
        right: -3%;
        bottom: 24%;
      }
    }
  }
  &__plate {
    z-index: 5;
    width: fit-content;
    padding: 40px 50px 40px 20px;
    border-radius: 8px;
    background: url('/assets/announcement/msg-texture.png') center center/cover repeat;
    h2 {
      color: #ffd00a;
      font-weight: 700;
      font-size: 2rem;
      margin: 0;
    }
    div:first-of-type {
      font-size: 1.2rem;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-font-primary;
      font-weight: 700;
      padding: 10px 0;
      svg {
        height: 1.2rem;
        display: inline;
        color: white;
      }
    }
    div:last-of-type {
      font-size: 0.8rem;
      & > span {
        font-weight: 700;
      }
    }
  }
  & > a {
    display: block;
    position: relative;
    color: $color-bg-main;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    text-decoration: none;
    &::before {
      content: url('/arrow-right.svg');
      position: absolute;
      left: -36px;
      bottom: 3px;
      width: 26px;
    }
  }
  &__decor {
    img {
      position: absolute;
      width: fit-content;
      height: 40%;
      z-index: 2;
      bottom: 0;
      z-index: 6;
      &:nth-of-type(1) {
        left: 0;
        transform: translate(-30%, 30%);
      }
      &:nth-of-type(2) {
        right: 0;
        transform: translate(10%, -15%);
      }
      &:nth-of-type(3) {
        right: 0;
        transform: translate(5%, 5%);
      }
      &:nth-of-type(4) {
        right: 0;
        transform: translate(2%, 45%);
      }
    }
  }
}
@keyframes floatLeft {
  from {
    background-position: 0;
  }
  to {
    background-position: -200vw;
  }
}
